/* nav #navbarNav {
    margin-left: 5em;
} */

*, a {
    text-decoration: none;
    list-style: none;
}

/* Carousel of the index page */
.top-carousel img {
    object-fit: cover;
    filter: opacity(90%) blur(2px);

    width: 100%;
    height: 90vh;
}

/* Top bar */
.top-menu {
    background-color: white;
    border-bottom: 1px solid black;
}

.booking-form {
    background-color: #FB5012;
}

form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: darkgoldenrod;
}

.error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

.tour-detail-page {
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:cover;
    -o-background-size: cover;
}

/* Contact Form */
.contact-form {
    width: 100%;
    height: auto;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.bg-image {
    background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}